@import '../scss/variables';

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &.invalid {
    input {
      border: 1px solid red;
    }
  }

  label {
    margin-bottom: 10px;
  }

  input {
    border: 1px solid $gray-color;
    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 10px;

    &:focus {
      outline: none;
      border-color: $primary-color-orange;
    }
  }
}
