@import "../scss/variables";

.hero {
  button {
    &:nth-of-type(1) {
      color: white;
    }
    @include medium {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;

  .ellipse {
    z-index: 2;
    height: 90%;
    width: 70%;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
  }

  .courier-profile,
  .pizza-profile {
    z-index: 2;
  }
}

@media screen and (max-width: 1024px) {
  .hero-img .ellipse {
    width: 40%;
  }
  .hero-img {
    margin-bottom: 100px;
  }
  .hero-icon {
    &:nth-of-type(1) {
      left: 15%;
    }
    &:nth-of-type(2) {
      right: 15%;
    }
  }
  .arrow {
    right: 20% !important;
  }
}

@include mobile {
  .hero-img {
    .ellipse {
      width: 70%;
    }
    .hero-icon {
      &:nth-of-type(1) {
        left: -10%;
      }
      &:nth-of-type(2) {
        right: 0;
      }
    }
    .arrow {
      right: 0 !important;
    }
    .pizza-profile {
      display: none;
    }
  }
}
